.App {
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  font-family: 'Dancing Script', cursive;
  font-size: larger;
  background-color: rgb(241, 245, 245);
  } 

  .RecipeBlock{
    margin:auto;
    height: 500px;
    width:500px;
    /* border:solid black 1px; */
    margin-bottom: 10px;
    border-radius: 20px;
  
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    min-height: 200px;
    width: 50vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
    
  }

  ul{
    list-style-type: none;
  }

  .RecipeBlock.animation{
    animation: slidedown 2s forwards;
    
  
  }
  @keyframes slidedown {
    from {min-height: 0px ;
      height: 0px;
    overflow: hidden;
  display: none;}
    to{min-height: 200px;
    height: 500px;
  overflow: visible;
  display: block;}
  }

  img{
    border-radius: 10px;
    max-width: 90%;
  }

  input{
    border-radius: 7px;
  }
  button{
    border-radius: 7px;
  }
  select{
    border-radius: 7px;
  }